<?xml version="1.0"?>
<connectionStrings>
    <remove name="LocalSqlServer" />
  <!--<add name="OracleSource" connectionString="USER ID=SDE;PASSWORD=123456;DATA SOURCE=&quot;(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=PDBORCL)))&quot;"
      providerName="DataSource.Oracle" />-->

  <add name="SqlServerSource" connectionString="Data Source=192.168.10.30;Initial Catalog=Suining;User ID=sa;Password=Pct123"
      providerName="DataSource.SqlServer" />

  <add name="OracleSource" connectionString="DATA SOURCE =ORCL33;USER ID=REGCERT;PASSWORD = 123456"
   providerName="DataSource.Oracle" />
  
 </connectionStrings>
